.list-group1{
    border:solid 3px;
    height:300px;
    width: 500px;
    margin: auto;
}
.list-group2{
        border:solid 3px;
    height:300px;
    width: 500px;
    margin: auto;
}
.list-group3{
    border:solid 3px;
    height:300px;
    width: 500px;
    margin: auto;
}
.list-group4{
    border:solid 3px;
    height:300px;
    width: 500px;
    margin: auto;
}