/* ING'S  작업 파트 부분 css 
    2022.05.10 ~ 진행중 작업 */

    /* 다크모드 관련 css */ 
body {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: rgb(255, 255, 255);
}
div.cuaqd { 
  /* 검색창 위치 조정 파트 */
    padding-left: 11cm;  /* 조정 금지 */ 
   }
   div.menua{
     padding-bottom: 10px;
   }
   div.check1 { 
    padding-left: 2cm;
   }
   div.check2 { /* 버튼 사이의 간격 조정용 속성 */
    padding-left: 0.3rem;
   }
   div.check3 { /* 로그인 페이지 간격 조정용  */
    padding-left: 0.25rem;
    color:#888;
   }
   /* 게시판 글쓰기부분 오른쪽으로 */
   div.write-left { 
    /* 검색창 위치 조정 파트 */
      padding-left: 93%;  /* 조정 금지 */ 
     }
     div.toastui-img { 
      /* 게시판 삭제등 해야할 파트 */
        padding-left: 78%;  /* 조정 금지 */ 
       }
       div.buttonarea { 
        /* 검색창 위치 조정 파트 */
          padding-left: 73%;  /* 조정 금지 */ 
         }
     /* 페이지창 메뉴 부분 표현 창 */
     div.b-divider {
       height: 5rem;
       border: solid rgba(0, 0, 0, .15);
       border-width: 2px 0;
       /* 테두리 사이트를 표현할때 사용한다고함 */
       box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(102, 73, 73, 0.15);
       background-image: linear-gradient(rgba(231, 221, 221, 0.6), rgba(125, 123, 123, 0.7)), url('https://cdn.pixabay.com/photo/2016/11/06/05/36/lake-1802337_1280.jpg');
       font-family: 'Roboto', sans-serif;
       background-position: 20% 29%;
       padding-left: 105px;
       text-align: left;
       padding-top: 20px;
       font-size: x-large;
       border-width: 2px 0;
       font-weight: 700;
     }
     /* 이쁜 상자로 표현 */ 
    .input-form { 
      max-width: 680px; 
      margin-top: 10px; 
      padding: 32px; 
      -webkit-border-radius: 10px; 
      -moz-border-radius: 10px; 
      border-radius: 10px; 
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
       box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
      }
      /*메인 보드 이쁘게 표현*/
      .input-form-main { 
        max-width: 680px; 
        margin-top: 10px; 
        padding: 32px; 
        background: rgb(255, 255, 255); 
        -webkit-border-radius: 10px; 
        -moz-border-radius: 10px; 
        border-radius: 10px; 
        -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
         -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
         box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
        }
      /* 회원 가입 페이지에서 이용약관 관련 부분 */
      *{margin: 0;padding: 0;box-sizing: border-box}
      body{background-color: #f7f7f7;}
      ul>li{list-style: none}
      a{text-decoration: none;}
      .clearfix::after{content: "";display: block;clear: both;}
     
      #joinForm{width: 460px;margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: rgb(223, 216, 216);}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 99px; margin: 0 2%;background-color: #ffffff;color: rgb(16, 16, 16); border: 1px;}
.footBtwrap{margin-top: 15px;}
.footBtwrap>li{float: left;width: 50%;height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
.fpmgBt1{background-color: #fff;color:#888}
.fpmgBt2{background-color: lightsalmon;color: #fff}

/* 글자 단순 사이즈 셋 */
.text-set{
  text-align: left;
    padding-left: 30px;
    font-size: x-large;
    border-width: 5px 0;
    font-weight: 700;
}

body {
  padding-top: 0px;

	padding-bottom: 30px;
}

/* 부트스트랩 아이콘 적용하는 방법 (디자인) */
/*  .bi-heart-fill{
            font-size: 22px;
            line-height: 22px;
            color:crimson;
        }*/ 

        /* 아이콘 호출하는 방법    
        <i class="bi bi-heart-fill"></i>*/
        /* 부트스트랩 아이콘 파트 */
        .bi-search{
          font-size: 28px;
          line-height: 30px;
          color:rgb(255, 255, 255);
          padding-right: 10px;
      }
      

      /* 드랍 다운 css 처리*/
      .dropbtn2 { /* 사용안함 */
        background-color: #ea2129;
        color: white;
        padding: 3px;
        font-size: 3px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
          background-color: #ffffff;
          min-width: 10ddd40px;
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          z-index: 1;
          border-radius: 10px;
        }
        
        .dropdown-content a {
          color: rgb(0, 0, 0);
          padding: 17px 18px;
          text-decoration: none;
          display: block;
          padding-top: 2px;
        }
        
        .dropdown-content a:hover {
          background-color: rgb(0, 199, 181);
          border-radius: 9px;
          color: rgb(255, 255, 255);
          font-weight: 700;
        }
        
        .dropdown:hover .dropdown-content {
          display: block;
        }
        
        .dropdown:hover .dropbtn {
          background-color: #3e8e41;
        }
/*버튼 커스텀 */ 
.btn-lg2 {
  padding: 2px 2px;
  font-size: 1.3rem;
  line-height: 1;
  padding-right: 2px;
  border-radius: 0.3rem;
  color:rgb(4, 3, 3);
}
.btn-lg3 {
  padding: 3px 3px;
  font-size: 1.3rem;
  line-height: 3;
  padding-right: 2px;
  border-radius: 1rem;

}
/* 커스텀 알림경고창 */
.alert-custom {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}
 
/*  나의 정보 관련 이미지 */ 
.bi-people-fill{
  font-size: 30px;
  line-height: 30px;
  color:rgb(13, 9, 9);
  padding-right: 5px;

}

/* 화면 로딩부 */ 
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/* 나의 프로필 이미지 둥글게 */

.box {
  width : 150px;
  height: 150px; 
  border-radius: 75%;
  overflow: hidden;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* 스터디 인원 및 기타 표시 텍스트 */
.studyItem_hashtag{
  display: flex;
  grid-gap: 5px;
  gap: 8px;
  font-size: 18px;
  color: rgba(0,0,0,.4);
  min-height: 30px;
  margin-bottom: 10px;
} 
.studyItem_content{
  margin-bottom: 10px;
  padding: 0;
  display: flex;
  grid-gap: 12px;
  gap: 12px;
  list-style: none;
}
.studyItem_schedule {
  display: flex;
  font-size: 18px;
  grid-gap: 10px;
  gap: 10px;
  color: rgba(0,0,0,.4);
}
.studyItem_content_img {
  margin-bottom: 1px;
  padding: 0;
  display: flex;
  grid-gap: 12px;
  gap: 12px;
  list-style: none;
}
.bi-node-minus-fill{
  padding-left: 90%;
  font-size:  30px;
  color:red;
}
/* 스터디 입장후  나의 스터디)*/
.container {
  position: relative;
  width: 60%;
}

.image {
  display: block;
  width: 60%;
  height: auto;
}
.container:hover .overlay {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/*  게시판 보드 이동 버튼 */

.btn {
  border: none;
  outline: none;
  padding: 10px 16px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 18px;
}

/* Style the active class, and buttons on mouse-over */
.active, .btn:hover {
  background-color: #666;
  color: white;
}

/* 게시판 글쓰기 버튼 속성 변경 */
.btn-write {
  padding: 5px 5px;
  border: none;
  outline: none;
  background-color: #f1f1f1;
  cursor: pointer;
  font-size: 19px;
}
/* Footer개조*/
.footer{
  margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  display: block;
	vertical-align: baseline;
  text-align: center;
  margin: 2.5em 0 0 0;
  position: relative;
		overflow: hidden;
		padding: 6em 0 6em 0;
		background: #2b252c;
		color: #fff;
}
#footer {
  position: relative;
  overflow: hidden;
  padding: 6em 0 6em 0;
  background: #2b252c;
  color: #fff;
}

  #footer .icon.circled {
    background: #fff;
    color: #2b252c;
  }

  #footer header {
    text-align: center;
    cursor: default;
  }

  #footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
    color: #fff;
  }

  #footer .contact {
    text-align: center;
  }

    #footer .contact p {
      text-align: center;
      margin: 0 0 3em 0;
    }

  #footer .copyright {
    text-align: center;
    color: rgba(128, 128, 128, 0.75);
    font-size: 0.8em;
    cursor: default;
  }

    #footer .copyright a {
      color: rgba(128, 128, 128, 0.75);
    }

      #footer .copyright a:hover {
        color: rgba(212, 212, 212, 0.85);
      }
      #footer {
				padding-left: 2em;
				padding-right: 2em;
			}
      /* 카드 헤더 부분임 (질문 부분 스터디페이지) */
      .card-header2 {
        padding: 0.75rem 1.25rem;
        margin-bottom: 0;
        background-color: rgba(164, 178, 181, 0.337);
        border-bottom: 1px solid rgba(121, 189, 188, 0.125);
      }
      /* 게시글 보드 페이지 부분 */
      .studyContent_title__3680o {
        margin-top: 2.5rem;
        font-weight: 800;
        font-size: 3rem;
        line-height: 126.5%;
        letter-spacing: -.005em;
        color: #000;
    }
      .studyContent_postHeader__2Qu_y {
        display: flex;
        flex-direction: column;
        margin-top: 3rem;
    }
    .studyContent_title__3680o {
      margin-top: 2.5rem;
      font-weight: 800;
      font-size: 3rem;
      line-height: 126.5%;
      letter-spacing: -.005em;
      color: #000;
  }
  .studyContent_userAndDate__1iYDv {
    margin-top: 32px;
    padding-bottom: 32px;
    border-bottom: 3px solid #f2f2f2;
    display: flex;
    grid-gap: 15px;
    gap: 15px;
    align-items: center;
}
.studyContent_user__1XYmH {
  display: flex;
  align-items: center;
  position: relative;
}
.studyContent_userImg__3gyI- {
  cursor: pointer;
  display: block;
  height: 3rem;
  width: 3rem;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}
.studyContent_userName__1GBr8 {
  color: #333;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding-right: 15px;
  border-right: 2px solid #e1e1e1;
}
.studyContent_registeredDate__3lybC {
  font-size: 18px;
  color: #717171;
}
.studyInfo_studyGrid__38Lfj {
  display: grid;
  grid-template-columns: repeat(2,3fr);
  grid-row-gap: 24px;
  row-gap: 24px;
  margin-top: 60px;
}
.studyInfo_contentWrapper__KkSUP {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.studyInfo_title__3jXRE {
  color: #717171;
  margin-right: 40px;
}
.studyInfo_content__eqtqC {
  color: #333;
}
.studyInfo_language__3A3Vi, .studyInfo_languageImage__2b-u9 {
  width: 36px;
  height: 36px;
}
.studyContent_postContentWrapper__187Zh {
  margin-top: 132px;
  font-size: 1.125rem;
  word-break: break-all;
  line-height: 1.7;
  letter-spacing: -.004em;
}
.studyInfo_contentWrapper__KkSUP {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
.studyInfo_content__eqtqC {
  color: #333;
}

.studyInfo_contentWrapper__KkSUP {
  display: flex;
  position: relative;
  align-items: center;
  font-weight: 700;
  font-size: 20px;
}
/* 댓글 영역 부분 */
.studyContent_commentAndViews__LrV6X {
  display: flex;
  flex-direction: column;
  background: #fff;
}
.studyContent_postComment__2lpJV {
  width: 100%;
  margin: 0 auto;
}
.commentInput_commentInput__39H41 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 100px;
}
.commentInput_commentCount__2dHvH {
  margin: 0 0 30px;
  font-size: 22px;
}
.commentInput_commentText__2er8t {
  font-size: 16px;
}
.commentInput_buttonWrapper__2f_l9 {
  display: flex;
  justify-content: flex-end;
  margin: 16px 0 24px;
}
.commentInput_buttonComplete__24z4R {
  padding: 10px 30px;
  min-width: 120px;
  height: 40px;
  background: #333;
  border-radius: 50px;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
}
/* 텍스트 area 공간 고정 부분 */
textarea {
  width: 100%;
  height: 6.25em;
  border: none;
  resize: none;
}
/* 댓글 달렸을때 부분 작성 */
.commentItem_commentContainer__3eMR4 {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid #e1e1e1;
}
.commentItem_commentHeader__3-Wux {
  display: flex;
  justify-content: space-between;
}
.commentItem_avatarWrapper__2J4nR {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
}
.commentItem_userImg__jWpVc {
  display: block;
  width: 52px;
  height: 52px;
  margin-right: 16px;
  border-radius: 50%;
  object-fit: cover;
}
.commentItem_commentInfo__5KL0S, .commentItem_title__36t1w {
  display: flex;
  flex-direction: column;
}
.commentItem_commentInfo__5KL0S, .commentItem_title__36t1w {
  display: flex;
  flex-direction: column;
}
.commentItem_userNickname__PQ8kV {
  color: #333;
  font-weight: 700;
}
.commentItem_registeredDate__2TPJZ {
  font-size: 14px;
  line-height: 126.5%;
  letter-spacing: -.005em;
  color: #9f9f9f;
}
/* 스터디 검색 페이지에서 카테고리 및 하위 영역들 */
.desktopFilter_subjects__aR2H1 {
  display: flex;
  grid-gap: 50px;
  gap: 50px;
  border-bottom: 3px solid #f2f2f2;
  padding-bottom: 20px;
  padding-left: 16px;
  margin-bottom: 30px;
}
.desktopFilter_selectedSubject__3s63n {
  color: #110e0e;
}
.desktopFilter_subjectItem__2_rjs {
  display: flex;
  font-weight: 700;
  font-size: 26px;
  line-height: 126.5%;
  color: #848484;
  cursor: pointer;
  position: relative;
}
.desktopFilter_selectedSubject__3s63n:after {
  content: ""; 
  position: absolute; 
  height: 5px;
  width: calc(100% + 26px); 
  background: #ffe579;
  left: -13px; 
   bottom: -22px; 
}
.desktopFilter_filterWrapper__1gwsT {
  max-width: 1200px;
  width: 100%;
  padding: 0 15px;
  margin: 104px auto;
}
.desktopFilter_languages__3Kgb1 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-gap: 15px;
  gap: 15px;
  margin-bottom: 40px;
}
.desktopFilter_languageIcon__1-pNr {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  align-items: center;
  border: 1px solid #d0d0d0;
  border-radius: 100px;
  padding: 12px 20px 12px 15px;
  transition: all .1s ease-in;
  cursor: pointer;
}
.desktopFilter_logo__3V6YL {
  width: 36px;
  height: 36px;
}
.desktopFilter_selectedLanguages__3KowP, .desktopFilter_selectedWrapper__1-6M0 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  grid-gap: 30px;
  gap: 30px;
}
.desktopFilter_selectedLanguage__30mty {
  display: flex;
  grid-gap: 10px;
  gap: 10px;
  background: #f2f2f2;
  padding: 8px 15px;
  height: 41px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 20px;
  color: #313131;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all .1s ease-in;
}
.desktopFilter_resetFilter__ybCJD {
  font-size: 20px;
  color: #333;
  cursor: pointer;
}
.desktopFilter_languageIcon__1-pNr:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.desktopFilter_selectedLanguage__30mty:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}
.rating_ratingIconImg__2kjKM:hover {
  -webkit-transform: scale(1.08);
  transform: scale(1.08);
  transition: all .2s ease-in
}
.rating_submitButton__2k-xu:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05)
}
.mainContent_udemy__3i_Vn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}
.studyItem_studyItem__1Iipn:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02)
}
.desktopFilter_transparent__2ofOb {
  opacity: .3;
}

/*스터디 매칭 관련 css*/
.study_ma {
  color: #2b2c48;
  font-family: "Jost", sans-serif;
  background-image: url(https://images.unsplash.com/photo-1566738780863-f9608f88f3a9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2378&q=80);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  padding: 100px;
}
.centera {
  color: black;
  width: 620px;
  height: 300px;
  margin: 100px auto;
  font-weight: bold;
  text-align: center;
  background-color: rgba(234, 234, 234, 0.407);
  border-radius: 40px 80px;
}
/* 팝업창 요소 */
/*popup*/
.popup_layer {position:fixed;top:0;left:0;z-index: 10000; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.4); }
/*팝업 박스*/
.popup_box{position: relative;top:50%;left:50%; overflow: auto; height: 600px; width:800px;transform:translate(-50%, -50%);z-index:1002;box-sizing:border-box;background:#fff;box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);-moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);}
/*컨텐츠 영역*/
.popup_box .popup_cont {padding:50px;line-height:1.4rem;font-size:14px; }
.popup_box .popup_cont h2 {padding:15px 0;color:#333;margin:0;}
.popup_box .popup_cont p{ border-top: 1px solid #666;padding-top: 30px;}
/*버튼영역*/
.popup_box .popup_btn {display:table;table-layout: fixed;width:100%;height:70px;background:#ECECEC;word-break: break-word;}
.popup_box .popup_btn a {position: relative; display: table-cell; height:70px;  font-size:17px;text-align:center;vertical-align:middle;text-decoration:none; background:#ECECEC;}
.popup_box .popup_btn a:before{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg);}
.popup_box .popup_btn a:after{content:'';display:block;position:absolute;top:26px;right:29px;width:1px;height:21px;background:#fff;-moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}
.popup_box .popup_btn a.close_day {background:#5d5d5d;}
.popup_box .popup_btn a.close_day:before, .popup_box .popup_btn a.close_day:after{display:none;}
/*오버레이 뒷배경*/
.popup_overlay{position:fixed;top:0px;right:0;left:0;bottom:0;z-index:1001;;background:rgba(0,0,0,0.5);}
/*popup*/