/* ING'S  작업 파트 부분 css 
    2022.05.10 ~ 진행중 작업 */

    /* 다크모드 관련 css */ 
body {
  background-color: white;
  color: black;
}
.dark-mode {
  background-color: black;
  color: rgb(255, 255, 255);
}
div.cuaqd { 
  /* 검색창 위치 조정 파트 */
    padding-left: 11cm;  /* 조정 금지 */ 
   }
   div.menua{
     padding-bottom: 10px;
   }
   div.check1 { 
    padding-left: 2cm;
   }
   div.check2 { /* 버튼 사이의 간격 조정용 속성 */
    padding-left: 0.3rem;
   }
   div.check3 { /* 로그인 페이지 간격 조정용  */
    padding-left: 0.25rem;
    color:#888;
   }

   /* 페이지창 메뉴 부분 표현 창 */
   div.b-divider {
    height: 5rem;
    border: solid rgba(0, 0, 0, .15);
    border-width: 2px 0; /* 테두리 사이트를 표현할때 사용한다고함 */
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(102, 73, 73, 0.15);
    background-image: linear-gradient( rgba(231, 221, 221, 0.6), rgba(125, 123, 123, 0.7)),url('https://cdn.pixabay.com/photo/2016/11/06/05/36/lake-1802337_1280.jpg');
    font-family: 'Roboto', sans-serif;
    background-position:  20%  29%;
    padding-left: 105px;
    text-align: left;
    padding-top: 20px;
    font-size: x-large;
    border-width: 2px 0;
    font-weight: 700;
  }
  
     /* 이쁜 상자로 표현 */ 
    .input-form { 
      max-width: 680px; 
      margin-top: 10px; 
      padding: 32px; 
      /*background: rgb(246, 246, 246); */
      -webkit-border-radius: 10px; 
      -moz-border-radius: 10px; 
      border-radius: 10px; 
      -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
       -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15); 
       box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15) 
      }
      /* 회원 가입 페이지에서 이용약관 관련 부분 */
      *{margin: 0;padding: 0;box-sizing: border-box}
      body{background-color: #f7f7f7;}
      ul>li{list-style: none}
      a{text-decoration: none;}
      .clearfix::after{content: "";display: block;clear: both;}
     
      #joinForm{width: 460px;margin: 0 auto;}
ul.join_box{border: 1px solid #ddd;background-color: #fff;}
.checkBox,.checkBox>ul{position: relative;}
.checkBox>ul>li{float: left;}
.checkBox>ul>li:first-child{width: 85%;padding: 15px;font-weight: 600;color: rgb(223, 216, 216);}
.checkBox>ul>li:nth-child(2){position: absolute;top: 50%;right: 30px;margin-top: -12px;}
.checkBox textarea{width: 96%;height: 99px; margin: 0 2%;background-color: #ffffff;color: rgb(16, 16, 16); border: 1px;}
.footBtwrap{margin-top: 15px;}
.footBtwrap>li{float: left;width: 50%;height: 60px;}
.footBtwrap>li>button{display: block; width: 100%;height: 100%; font-size: 20px;text-align: center;line-height: 60px;}
.fpmgBt1{background-color: #fff;color:#888}
.fpmgBt2{background-color: lightsalmon;color: #fff}

/* 글자 단순 사이즈 셋 */
.text-set{
  text-align: left;
    padding-left: 30px;
    font-size: x-large;
    border-width: 5px 0;
    font-weight: 700;
}

body {
  padding-top: 0px;

	padding-bottom: 30px;
}

/* 부트스트랩 아이콘 적용하는 방법 (디자인) */
/*  .bi-heart-fill{
            font-size: 22px;
            line-height: 22px;
            color:crimson;
        }*/ 

        /* 아이콘 호출하는 방법    
        <i class="bi bi-heart-fill"></i>*/
        /* 부트스트랩 아이콘 파트 */
        .bi-search{
          font-size: 28px;
          line-height: 30px;
          color:rgb(255, 255, 255);
          padding-right: 10px;
      }
      

      /* 드랍 다운 css 처리*/
      .dropbtn2 { /* 사용안함 */
        background-color: #ea2129;
        color: white;
        padding: 3px;
        font-size: 3px;
        border: none;
      }
      
      .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        top: 40px;
        background-color: #ffffff;
        min-width: 10ddd40px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 10px;
      }
      
      .dropdown-content a {
        color: rgb(0, 0, 0);
        padding: 17px 18px;
        text-decoration: none;
        display: block;
        padding-top: 2px;
      }
      
      .dropdown-content a:hover {background-color: rgb(0, 199, 181); border-radius: 9px; color:rgb(255, 255, 255);font-weight: 700;}
      
      .dropdown:hover .dropdown-content {display: block;}
      
      .dropdown:hover .dropbtn {background-color: #3e8e41;}
/*버튼 커스텀 */ 
.btn-lg2 {
  padding: 2px 2px;
  font-size: 1.3rem;
  line-height: 1;
  padding-right: 2px;
  border-radius: 0.3rem;
  color:rgb(4, 3, 3);
}
.btn-lg3 {
  padding: 3px 3px;
  font-size: 1.3rem;
  line-height: 3;
  padding-right: 2px;
  border-radius: 1rem;

}
/* 커스텀 알림경고창 */
.alert-custom {
  position: relative;
  padding: 0.75rem 1.25rem;
  border: 1px solid transparent;
  border-radius: 0.4rem;
}
 
/*  나의 정보 관련 이미지 */ 
.bi-people-fill{
  font-size: 30px;
  line-height: 30px;
  color:rgb(13, 9, 9);
  padding-right: 5px;

}

/* 화면 로딩부 */ 
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}
/* 나의 프로필 이미지 둥글게 */

.box {
  width : 150px;
  height: 150px; 
  border-radius: 75%;
  overflow: hidden;
}
.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}