[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
python-decouple = "*"
mysqlclient = "*"
dj-rest-auth = "*"
django-cors-headers = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
